*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* UTILITY CLASS */
.cursor-pointer{
  cursor: pointer;
}

.opacity-08{
  opacity: 0.8;
}

.text-underline{
  text-decoration: underline;
}

.block{
  display: block;
}
.padding-top-5{
  padding-top: 5px;
}
.margin-0{
  margin:0;
}
/* END UTILITY CLASS */

.wrapper{
  min-width: 950px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(360deg, #DBDBD3 80%, #009788 20%);
  align-items: center;
  justify-content: center;
  position: relative;
}

#app-container{
  min-width: 950px;
  width: 80%;
  height: 95%;
  overflow: hidden;
  margin:0;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
}

/* SIDEBAR */
.sidebar{
  float: left;
  width: 35%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

/*  nav dati personali */
nav.general-options{
  position: relative;
  height: 65px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  background: #EEEEEE;
}

nav .profile-avatar{
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  border-radius: 100%;
  background: white;
}

.profile-avatar img{
  width: 45px;
  height: 45px;
}

.nav-icone{
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
/* end nav dati personali */

/*  notifiche */
.notifiche-container{
  position: relative;
  height: 65px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  background: lightblue;
  padding:5px;
}

.bell{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
}
.bell i{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  color: lightblue;
}

.notifiche{
  position: absolute;
  top:0;
  left:30%;
  text-align: left;
  padding: 3px 0;
}
/* end notifiche */

/* search bar */
.search-bar{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  background: #FBFBFB;
}
.search{
  overflow: hidden;
  position: relative;
  padding-left: 20px;
  width: 95%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
  border-style: none;
  border-radius: 5px;
  background: white;
}

#search_bar_input{
  height: 100%;
  width: 90%;
  font-size: 14px;
  font-weight: bold;
  border-style: none;
  padding-left:10px;

}
 input[placeholder]{
   opacity:0.6;
 }
/* end search bar */

/*  elenco contatti */
.lista-contatti{
  overflow-y: auto;
  overflow-x: hidden;

  flex-grow: 1;
}

.contatto{
  position: relative;
  height: 65px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  background: #ffffff;
}
.avatar-chat{
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  border-radius: 100%;
  background: #eeeeee;
  display: inline-block;
}
.avatar-chat img{
  width: 50px;
  height: 50px;
}
.name-contatto{
  display: inline-block;
  float: left;
  padding-top:10px;
  position:absolute;
  top:0;
  left:20%;
}
/* end elenco contatti*/

/* END SIDEBAR */



/* MAIN */

/* dati ricevente -chat- */
.conversation{
  float: left;
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
}

nav.nav-conversation{
  height: 65px;
  background: #eeeeee;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5px 15px;


}
nav  .image-avatar{
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: white;
}
nav .image-conversation{
  overflow: hidden;
  display: flex;
  align-items: center;
  float: left;
  width: 10%;
}
nav .image-conversation img{
  width: 50px;
  height: 50px;
}

.name-conversation{
  display: inline-block;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:80%;
  padding:10px;
  height: 65px;
}



.icones-conversation{
  float: left;
  height: 65px;
  overflow: hidden;
  display: flex;
  align-items: center;

  float: left;
}
/* end dati ricevente -chat- */


/* area conversazioni -chat- */
.chat-room{
  background-image: url("../images/mine.jpg");
  background-size: cover;
  width: 100%;
  position: relative;
  flex-grow: 1;
}
.sent{
  width: 40%;
  padding: 5px;
  margin:15px;
  border-radius: 15px;
  background-color: green;
  clear: both;
  float: right;
  max-width: 50%;
  color:white;
  font-size: 15px;
 }

.time-message{
   color:lightgrey;
   float: right;
   font-size: 10px;
 }

.received{
   width: 40%;
   padding: 5px;
   margin:15px;
   border-radius: 15px;
   background-color: #ffffff;
   clear: both;
  float: left;
  max-width: 50%;
   color:#000000;
   font-size: 15px;
 }

/* end area conversazioni -chat- */

/* scrittura messaggi*/
.writing{
  float: left;
  height:65px;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 20px;
  border-top: 1px solid grey;
}

.write-emoji{
  width: 20%;
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}
.write-emoji i{
  font-size: 25px;
  color: grey;
}

.writing-message{
  width: 60%;
  text-align: center;
}
.message-input{
  width: 100%;
  font-size: 25px;
  border-radius: 6px;
  padding-left: 20px;


}

.write-microphone{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
.write-microphone i{
  font-size: 25px;
  color: grey;
}
/* end scrittura messaggi */

/* END MAIN */
