<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>BoolzApp Web</title>
  </head>
  <body>
    <div class="wrapper flex">
      <div id="app-container">

        <!-- SIDEBAR -->
        <div class="sidebar">

          <!--  dati personali -->
          <nav class="general-options">
            <div class="profile-avatar">
              <img src="images/avatar_io.jpg" alt="">
            </div>
            <img class="nav-icone cursor-pointer" src="images/data.svg" alt="">
            <img class="nav-icone cursor-pointer" src="images/chat.svg" alt="">
            <img class="nav-icone cursor-pointer" src="images/menu.svg" alt="">
          </nav>
          <!-- end nav dati personali -->

          <!-- gestione notifiche -->
          <div class="notifiche-container">
            <div class="bell">
              <i class="fas fa-bell-slash cursor-pointer"></i>
            </div>
            <div class="notifiche">
              <h5>Ricevi notifiche di nuovi messaggi</h5>
              <h6 class="sottotitolo cursor-pointer opacity-08 text-underline">attiva notifiche desktop</h6>
            </div>
          </div>
          <!-- end gestione notifiche -->

          <!-- search bar -->
          <div class="search-bar">
            <div class="search">
              <img class="nav-icone cursor-pointer"src="images/search.svg" alt="">
              <input id="search_bar_input" type="text" name="" placeholder="cerca o inizia nuova chat">
            </div>
          </div>
          <!-- end search bar -->

          <!--  lista contatti -->
          <div class="lista-contatti">
            <div v-for="(i,index) in contacts" class="contatto" @click="selectedChat(index);selectedContatto(i)">
              <div  class="avatar-chat" >
                <img v-bind:src="'images/avatar' + contacts[index].avatar + '.jpg'" class="cursor-pointer" />
            </div>
            <div class="name-contatto cursor-pointer">
              <span>{{contacts[index].name}}</span>
            </div>
          </div>

          </div>
          <!-- end lista contatti -->
        </div>
        <!-- END SIDEBAR -->
        <div class="conversation">

          <nav class="nav-conversation">
            <div class="image-conversation">
              <div class="image-avatar">
                <img v-bind:src="'images/avatar' + imageSelezionata  + '.jpg'" />
              </div>
            </div>
            <div class="name-conversation">
              <h5>{{utenteSelezionato}}</h5>
              <h6 class="opacity-08">Ultimo accesso alle ore {{utlimoAccesso}}</h6>
            </div>
            <div class="icones-conversation">
              <img class="nav-icone cursor-pointer" src="images/search.svg" alt="">
              <img class="nav-icone cursor-pointer" src="images/clip.svg" alt="">
              <img class="nav-icone cursor-pointer" src="images/menu.svg" alt="">
            </div>
          </nav>

          <div class="chat-room">
            <div v-for="element in contacts[indexAttuale].messages" :class="element.status">{{element.text}}
            </div>
          </div>

          <div class="writing">
            <div class="write-emoji">
              <i class="far fa-smile cursor-pointer opacity-08"></i>
            </div>
            <div class="writing-message">
              <input class="message-input"  @keyup.enter="sendMessage" v-model="newMessage" type="text" placeholder="Scrivi un messaggio" value="">
            </div>
            <div class="write-microphone">
              <i class="fas fa-microphone-alt cursor-pointer opacity-08"></i>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
